{% extends 'Base.html' %}
{% block title %}
 Home Page
{% endblock %}
{% block content %}
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
           {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  {{ message }}
              </div>
           {% endfor %}
        {% endif %}
      {% endwith %}

       <table class="table-light bg-white" border="0" style="margin:2vh">
          <tr>
            <td width=auto>
                <div class="container">
                    <b><h1 style="font-size:5vw;" class="display-4">Welcome to Employee Organization</h1></b>
                    <p class="lead" style="margin:10px">
                        <a href="/" class="btn btn-info">
                            More Details
                        </a>
                    </p>
                </div>
            </td>
              <td width=auto>
                <div>
                    <image src="https://img.freepik.com/free-vector/communication-flat-icon_1262-18771.jpg" class="img-fluid" alt="Responsive image"/>
                </div>
              </td>
          </tr>
       </table>

        <!--Footer part-->
        <footer class="container-fluid page-footer bg-secondary" style="position: fixed; left: 0; bottom: 0; width: 100%">
            <div class="text-center text-white">
                <strong>
                    <p>© Copyright 2023-2025 by Employee Organization - [Mukul]</p>
                </strong>
            </div>
        </footer>
{% endblock %}