{% extends 'Base.html' %}
{% block title %}
  Registration
{% endblock %}
{% block content %}
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
           {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  {{ message }}
              </div>
           {% endfor %}
        {% endif %}
      {% endwith %}
    <br>
    <div class="container">
        <form method="POST" class="form-register" style="color:white">
            {{form.hidden_tag()}}
            <h1 class="h3 mb-3 font-weight-normal text-primary">
                <b>Create your Account</b>
            </h1>
            <br>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    <b>{{form.Firstname.label()}}</b>
                </label>
                <div class="col-sm-10">
                    {{ form.Firstname(class="form-control", placeholder="First Name") }}
                </div>
            </div><br>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    <b>{{form.Lastname.label()}}</b>
                </label>
                <div class="col-sm-10">
                    {{ form.Lastname(class="form-control", placeholder="Last Name") }}
                </div>
            </div><br>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    <b>{{form.Email.label()}}</b>
                </label>
                <div class="col-sm-10">
                    {{ form.Email(class="form-control", placeholder="Enter Your Email Address") }}
                </div>
            </div><br>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    <b>{{form.phone.label()}}</b>
                </label>
                <div class="col-sm-10">
                    {{ form.phone(class="form-control", placeholder="Enter 10 digit phone number") }}
                </div>
            </div><br>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    <b>{{form.DOB.label()}}</b>
                </label>
                <div class="col-sm-10">
                    {{ form.DOB(class="form-control", placeholder="DD/MM/YY") }}
                </div>
            </div><br>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    <b>{{form.Address.label()}}</b>
                </label>
                <div class="col-sm-10">
                    {{ form.Address(class="form-control", placeholder="Enter Your Address") }}
                </div>
            </div><br>
            <br>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    <b>{{form.Role.label()}}</b>
                </label>
                <div class="col-sm-10">
                    <b>{{ form.Role(style="list-style-type:none")}}</b>
                </div>
            </div><br>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    <b>{{ form.password1.label() }}</b>
                </label>
                <div class="col-sm-10">
                    {{ form.password1(class="form-control", placeholder="Password") }}
                </div>
            </div><br>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">
                    <b>{{ form.password2.label() }}</b>
                </label>
                <div class="col-sm-10">
                    {{ form.password2(class="form-control", placeholder="Confirm Password") }}
                </div>
            </div><br>

            {{ form.submit(class="btn btn-lg btn-block btn-info") }}
            <br><br>
            <center>
                <div class="checkbox mb-3">
                    <h6>Have an account?</h6>
                    <a class="btn btn-sm btn-secondary" href='/login'>Login</a>
                </div>
            </center>
        </form>
        <br>
    </div>
{% endblock %}